@import url("https://css.gg/user.css");
@import url("https://css.gg/smartphone.css");
@import url("https://css.gg/mail.css");
@import url("https://css.gg/lock.css");
@import url("https://css.gg/eye-alt.css");
@import url("https://css.gg/eye.css");
@import url("https://css.gg/credit-card.css");
@import url("https://css.gg/organisation.css");
@import url("https://css.gg/feed.css");
@import url("https://css.gg/pin.css");
@import url("https://css.gg/remove.css");

:root {
  --largura-max: 1400px;
  --centralizar-padding: calc((100% - var(--largura-max)) / 2);
  --fonte-display: "Poppins", sans-serif;
  --fonte-texto: "Nunito", sans-serif;
  --cor-primaria: #4e6ef1;
  --cor-fundo: #accffe;
  --borda-redonda: 12px;
  --sombra-input: 0px 10px 20px -10px rgb(32 56 117 / 40%);

  --branco-puro: #ffffff;
  --preto-puro: #000000;

  --p1: #313450;
  --p2: #6b6f92;
  --p3: #464969;
  --p4: #747697;

  --c1: #838383;
  --c2: #353535;
  --c3: #1f1f1f;
  --c4: #0c0c0c;
}

.desativado,
.deletar {
  color: var(--p4);
}

body {
  font-family: var(--fonte-display);
  outline: 1px solid black;
}

* {
  cursor: default;
  margin: 0;
  padding: 0;
}

input {
  font: 400 1rem/1 var(--fonte-display);
}

button {
  border: none;
  cursor: pointer;
}

select {
  transition: all 0.3s;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  outline: none;
  padding: 4px 8px;
  font: 400 1.1rem/1 var(--fonte-texto);
  color: var(--p4);
}

:disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not(.perfil a) {
  cursor: pointer;
}

img[alt="Kairos Logo"] {
  max-width: 200px;
}

img[alt="Kairos Logo"]:hover {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.container {
  padding: 60px var(--centralizar-padding);
}

.titulo {
  font: 700 2.167rem/1.3 var(--fonte-display);
  color: var(--p1);
}

.texto {
  font: 400 1.125rem/1.4rem var(--fonte-texto);
  color: var(--p2);
}

img {
  max-width: 100%;
}
.none,
.caixa-senhas,
#alterarsenha.none {
  display: none;
}
.cartao select,
.cartao input,
.perfil input,
.perfil select {
  border-radius: 4px;
  background-color: #ededed;
  border: 1px solid transparent;
  padding: 8px 16px;
  transition: all 0.3s;
  outline: none;
}

.perfil input:hover,
.perfil select:hover,
.cartao input:hover,
.cartao select:hover {
  box-shadow: var(--sombra-input);
}

.perfil input:focus,
.cartao input:focus,
.cartao select:focus {
  border-color: var(--cor-primaria);
  box-shadow: var(--sombra-input);
}

div[id$="Alert"] {
  grid-column: 2/3;
  display: none;
  color: red;
  position: relative;
}

.alerta-ativo {
  display: block !important;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: #4e6ef1;
  border-radius: 50px;
}

::-webkit-scrollbar {
  width: 10px;
}
