*[class^="gg"],
*[class^="gg"]::after,
*[class^="gg"]::before {
  border-color: var(--c1);
}

.nav-lateral i[class^="gg"],
.nav-lateral i[class^="gg"]::after,
.nav-lateral i[class^="gg"]::before {
  border-color: var(--branco-puro);
}

.gg-lock::after {
  box-shadow: 0 0 0 2px var(--c1) !important;
  border-color: transparent !important;
  width: 14px;
  height: 8px;
}

.gg-lock {
  width: 10px;
  margin-top: -17px;
}

.gg-user::after {
  width: 11px;
  height: 7px;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 9px;
}
.gg-user::before {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 0px;
  left: 2px;
}

.gg-mail,
.gg-mail::after {
  height: 12px;
}

.gg-mail::after {
  width: 16px;
  transform: rotate(312deg);
  bottom: 5px;
}

.gg-smartphone {
  border-radius: 3px;
  height: 18px;
  background: linear-gradient(to left, var(--c1) 5px, transparent 0) no-repeat
    4px 10px/2px 2px;
}

.gg-eye,
.gg-eye-alt {
  cursor: pointer;
}

.gg-eye::after {
  box-shadow: inset 0 -8px 0 2px var(--c1), inset 0 0 0 2px var(--c1);
}

.gg-credit-card::after,
.gg-credit-card::before {
  background-color: var(--branco-puro);
}

.gg-organisation {
  background: linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat
      center 2px/12px 2px,
    linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat center
      6px/12px 2px,
    linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat center
      10px/12px 2px,
    linear-gradient(to bottom, var(--c1) 18px, transparent 0) no-repeat
      center/2px 18px;
}

.gg-organisation::before {
  background: var(--c1);
  box-shadow: 0 4px 0 var(--c1), -4px 4px 0 var(--c1), -4px 0 0 var(--c1);
}

.recuperar-senha i[class^="gg-eye"] {
  grid-column: 3;
}

/* icones de popup */

@media (min-width: 501px) {
  .bi-question-circle {
    transform: scale(0.9);
  }
}

.bi-question-circle {
  opacity: 0.7;
  margin-left: 5px;
  position: absolute;
  margin-top: 1px;
  cursor: help;
  transform: none;
}
