.lni-grid-alt::before {
  content: "\eada";
}

.lni-target-revenue::before {
  content: "\ebc7";
}

.lni-graph::before {
  content: "\ead9";
}

.lni {
  display: inline-block;
  font: normal normal normal 1em/1 "LineIcons";
  color: inherit;
  flex-shrink: 0;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "LineIcons";
  src: url("../fonts/Lineicon/LineIcons.eot");
  src: url("../fonts/Lineicon/LineIcons.eot") format("embedded-opentype"),
    url("../fonts/Lineicon/LineIcons.woff2") format("woff2"),
    url("../fonts/Lineicon/LineIcons.woff") format("woff"),
    url("../fonts/Lineicon/LineIcons.ttf") format("truetype"),
    url("../fonts/Lineicon/LineIcons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.gg-user {
  display: block;
  transform: scale(var(--ggs, 1));
  box-sizing: border-box;
  width: 12px;
  height: 18px;
}

.gg-user::after,
.gg-user::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border: 2px solid;
}

.gg-user::before {
  width: 8px;
  height: 8px;
  border-radius: 30px;
  top: 0;
  left: 2px;
}

.gg-user::after {
  width: 12px;
  height: 9px;
  border-bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  top: 9px;
}
.gg-smartphone {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
    no-repeat 4px 12px/2px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 20px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
}
@keyframes animacao-erro {
  0%,
  90%,
  100% {
    transform: translateX(0);
  }
  92% {
    transform: translateX(5px);
  }
  94% {
    transform: translateX(-5px);
  }
  96% {
    transform: translateX(5px);
  }
  98% {
    transform: translateX(0);
  }
}

.gg-danger {
  animation: animacao-erro 5s infinite ease-in-out;
}

.body-perfil .gg-danger,
.cartao .gg-danger {
  position: absolute;
  right: 9px;
  top: -36px;
}
.cartao .gg-danger {
  top: -44px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}
.gg-lock {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  left: 4px;
  height: 11px;
  border: 2px solid;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: transparent;
  margin-top: -12px;
}

.gg-lock::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 10px;
  border-radius: 2px;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px;
  left: -4px;
  top: 9px;
}
.gg-eye-alt {
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

.gg-eye-alt::after,
.gg-eye-alt::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
}

.gg-eye-alt::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
  width: 24px;
  height: 24px;
}

.gg-eye-alt::before {
  width: 8px;
  height: 8px;
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 6px, 0 0 0 4px, 6px 0 0 0, -6px 0 0 0;
  bottom: 4px;
  left: 8px;
}
.gg-eye {
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 18px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  overflow: hidden;
  box-sizing: border-box;
}

.gg-eye::after,
.gg-eye::before {
  content: "";
  display: block;
  border-radius: 100px;
  position: absolute;
  box-sizing: border-box;
}

.gg-eye::after {
  top: 2px;
  box-shadow: inset 0 -8px 0 2px, inset 0 0 0 2px;
  width: 24px;
  height: 24px;
}

.gg-eye::before {
  width: 8px;
  height: 8px;
  border: 2px solid;
  bottom: 4px;
  left: 8px;
}
.gg-credit-card {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 24px;
  height: 18px;
  border: 2px solid;
  border-radius: 4px;
}

.gg-credit-card::after,
.gg-credit-card::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 24px;
  left: -2px;
  height: 2px;
  background: currentColor;
  top: 9px;
}

.gg-credit-card::before {
  width: 6px;
  left: 2px;
  top: 3px;
}
.gg-organisation {
  background: linear-gradient(to bottom, currentColor 5px, transparent 0)
      no-repeat center 2px/12px 2px,
    linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat center
      6px/12px 2px,
    linear-gradient(to bottom, currentColor 5px, transparent 0) no-repeat center
      10px/12px 2px,
    linear-gradient(to bottom, currentColor 18px, transparent 0) no-repeat
      center/2px 18px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 18px;
  border: 2px solid;
}

.gg-organisation::after,
.gg-organisation::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-organisation::before {
  background: currentColor;
  right: -8px;
  top: 6px;
  box-shadow: 0 4px 0, -4px 4px 0, -4px 0 0;
  width: 2px;
  height: 2px;
}

.gg-organisation::after {
  width: 12px;
  height: 14px;
  border: 2px solid;
  left: 8px;
  bottom: -2px;
}
.gg-feed,
.gg-feed::after,
.gg-feed::before {
  display: block;
  box-sizing: border-box;
  background: currentColor;
  box-shadow: 0 10px 0 0;
}

.gg-feed {
  margin-left: -8px;
  margin-top: -8px;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 7px;
  height: 7px;
  border-radius: 1px;
}

.gg-feed::after,
.gg-feed::before {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 12px;
  height: 2px;
  top: 1px;
  left: 9px;
  opacity: 0.8;
}

.gg-feed::after {
  width: 8px;
  top: 4px;
  opacity: 0.5;
}
.gg-pin {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border-radius: 100% 100% 0 100%;
  border: 2px solid;
  margin-top: -4px;
}

.gg-pin::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid;
  top: 3px;
  left: 3px;
  border-radius: 40px;
}
.gg-remove {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 22px;
}

.gg-remove::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  border-radius: 5px;
  top: 8px;
  left: 4px;
}
.gg-home {
  background: linear-gradient(to left, currentColor 5px, transparent 0)
      no-repeat 0 bottom/4px 2px,
    linear-gradient(to left, currentColor 5px, transparent 0) no-repeat right
      bottom/4px 2px;
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-bottom: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  margin-bottom: -2px;
}

.gg-home::after,
.gg-home::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

.gg-home::after {
  width: 8px;
  height: 10px;
  border: 2px solid;
  border-radius: 100px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  left: 3px;
  bottom: 0;
}
.gg-danger {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 40px;
}

.gg-danger::after,
.gg-danger::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  background: currentColor;
  left: 7px;
}

.gg-danger::after {
  top: 2px;
  height: 8px;
}

.gg-danger::before {
  height: 2px;
  bottom: 2px;
}
*[class^="gg"],
*[class^="gg"]::after,
*[class^="gg"]::before {
  border-color: var(--c1);
}

.nav-lateral i[class^="gg"],
.nav-lateral i[class^="gg"]::after,
.nav-lateral i[class^="gg"]::before {
  border-color: var(--branco-puro);
}

.gg-lock::after {
  box-shadow: 0 0 0 2px var(--c1) !important;
  border-color: transparent !important;
  width: 14px;
  height: 8px;
}

.gg-lock {
  width: 10px;
  margin-top: -17px;
}

.gg-danger,
.gg-danger::after,
.gg-danger::before {
  border-color: #ff000099;
}

.gg-user::after {
  width: 11px;
  height: 7px;
  border-bottom: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  top: 9px;
}
.gg-user::before {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  top: 0px;
  left: 2px;
}

.gg-mail,
.gg-mail::after {
  height: 12px;
}

.gg-mail::after {
  width: 16px;
  transform: rotate(312deg);
  bottom: 5px;
}

.gg-smartphone {
  border-radius: 3px;
  height: 18px;
  background: linear-gradient(to left, var(--c1) 5px, transparent 0) no-repeat
    4px 10px/2px 2px;
}

.gg-eye,
.gg-eye-alt {
  cursor: pointer;
}

.gg-eye::after {
  box-shadow: inset 0 -8px 0 2px var(--c1), inset 0 0 0 2px var(--c1);
}

.gg-credit-card::after,
.gg-credit-card::before {
  background-color: var(--branco-puro);
}

.gg-organisation {
  background: linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat
      center 2px/12px 2px,
    linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat center
      6px/12px 2px,
    linear-gradient(to bottom, var(--c1) 5px, transparent 0) no-repeat center
      10px/12px 2px,
    linear-gradient(to bottom, var(--c1) 18px, transparent 0) no-repeat
      center/2px 18px;
}

.gg-organisation::before {
  background: var(--c1);
  box-shadow: 0 4px 0 var(--c1), -4px 4px 0 var(--c1), -4px 0 0 var(--c1);
}

.gg-credit-card::after {
  width: 20px;
}

.recuperar-senha i[class^="gg-eye"] {
  grid-column: 3;
}

/* icones de popup */

@media (min-width: 501px) {
  .bi-question-circle {
    transform: scale(0.9);
  }
}

.bi-question-circle {
  opacity: 0.7;
  margin-left: 5px;
  position: absolute;
  margin-top: 1px;
  cursor: help;
  transform: none;
}
