.intro {
  display: flex;
  padding-top: 220px;
  align-items: center;
  flex-wrap: wrap;
  background-image: url("../img/hero/hero-bg.jpg");
}

.intro-img {
  flex: 2;
  flex-basis: 500px;
}

.intro-info {
  margin-right: 80px;
}

.intro-info {
  display: grid;
  gap: 20px;
  justify-items: start;
  flex: 1;
  flex-basis: 400px;
}

.intro-info > span {
  color: var(--cor-primaria);
  font: normal 1.875rem/1 var(--fonte-display);
}

.intro-info > h1 {
  font: 700 3.125rem/1.124 var(--fonte-display);
  color: var(--p1);
}

.intro-info > p {
  font: 400 1.3rem/1.3 var(--fonte-texto);
  color: var(--p2);
  margin-bottom: 16px;
}
