.planos {
  display: grid;
  gap: 50px;
  justify-items: center;
  background-color: #f8f9fa;
}

.planos > p {
  margin-top: -50px;
}

.planos-cards {
  display: flex;
  justify-self: stretch;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.planos-item {
  flex-basis: 300px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 30px 10px;
  align-items: center;
  padding: 50px;
  border-radius: var(--borda-redonda);
  background-color: var(--branco-puro);
  outline: 1px solid #dfdfdf;
  box-shadow: 0px 0px 20px #dddddd;
}

.planos-item > a {
  justify-items: center;
  grid-column: 1/-1;
}

.planos-beneficios {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.planos-beneficios > li {
  display: flex;
  align-items: center;
  font: normal 1rem/1.5 var(--fonte-display);
  color: var(--p2);
}

.planos-beneficios > li::before {
  content: url("../img/icons/check.svg");
  display: inline-block;
  margin-right: 5px;
}

.planos-preco {
  font: 700 1.1rem/1 var(--fonte-display);
}

.btn-plano-ativo {
  color: var(--branco-puro);
  background-color: var(--cor-primaria);
  border: 1px solid var(--cor-primaria);
}

.btn-plano {
  color: var(--cor-primaria);
  background-color: var(--branco-puro);
  border: 1px solid var(--cor-primaria);
}

.planos-item > button {
  grid-column: 1/-1;
}
