@-webkit-keyframes popUpEntrada {
  0% {
    opacity: 0;
    margin-top: -20%;
  }
  75% {
    margin-top: 5%;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popUpEntrada {
  0% {
    opacity: 0;
    margin-top: -20%;
  }
  75% {
    margin-top: 5%;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes popUpSaida {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    margin-top: -20%;
  }
  100% {
    opacity: 0;
    margin-top: 40%;
  }
}
@keyframes popUpSaida {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 1;
    margin-top: -20%;
  }
  100% {
    opacity: 0;
    margin-top: 40%;
  }
}

.popUpFundo {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 46%);
  z-index: 10;
}

#popUp > button {
  padding: 10px 50px;
  align-self: center;
}

#popUp {
  box-sizing: border-box;
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 10;
  border: 3px solid transparent;
}

#popUp > h1 {
  font: 600 1.4rem/1.3rem var(--fonte-display);
  text-align: center;
}

#popUp > span {
  color: var(--c4);
  font: 500 1rem/1.5 var(--fonte-texto);
  padding-bottom: 10px;
  /* align-self: center; */
}

.p {
  max-width: 320px;
  min-width: 310px;
  max-height: 270px;
  min-height: 250px;
  transform: translate(-50%, -50%);
}

#popUpEnviar:not(.body-perfil.empresa > #popUpEnviar, .resultado
    #popUpEnviar, .assinaturas #popUpEnviar),
.resultado #popUpEnviar {
  display: none;
}

.body-perfil.empresa .p {
  max-height: none;
}

.enfase-plano {
  color: var(--cor-primaria);
  font: 500 1rem/1.5 var(--fonte-display);
}

.body-perfil.empresa .p > .btn {
  justify-self: center;
  align-self: center;
  margin-bottom: 8px;
  width: 100%;
  font-size: 1rem;
}

.popUpEntrada {
  animation: popUpEntrada 0.5s;
  -webkit-animation: popUpEntrada 0.5s;
}
.popUpSaida {
  display: block;
  animation: popUpSaida 0.5s;
  -webkit-animation: popUpSaida 0.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

#popUp {
  display: grid;
  gap: 5px;
  padding: 10px;
  border-radius: var(--borda-redonda);
  box-shadow: rgb(0 0 0 / 30%) 0px 8px 10px -6px;
  background-color: var(--branco-puro);
}

.popUpFundo.red ~ #popUp {
  border-color: rgb(255 76 76);
}

.popUpFundo.green ~ #popUp {
  border-color: #45df4c;
}

.popUpFundo.blue ~ #popUp {
  border-color: #659cff;
}

.popUpFundo {
  backdrop-filter: blur(8px);
  background: rgb(0 0 0 / 46%);
}

lord-icon {
  justify-self: center;
}

#img {
  border-radius: 20px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  width: 60%;
  display: grid;
  position: initial;
  margin-top: 16px;
  margin-bottom: 16px;
  margin: auto;
  border-radius: 10px;
}
